.common {
    width: 100vw;
    margin-bottom: 4rem;
    
    main {
        max-width: 800px;
        margin: auto;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    a {
        color: var(--highlight);
        text-decoration: none;
    }
}