// TODO
.post{
    max-width: 1440px;
    margin: auto;

    img{
        width: 100%;
        height: 25rem;
        margin-bottom: 5rem;
        object-fit: cover;
    }
}
.content{
    max-width: 800px;
    margin: auto;

    h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 2.25rem;
        margin: 2rem 0;
    }

    p, li{
        color: var(--body);
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    a {
        color: var(--highlight);
        text-decoration: none;
    }

}
.info{
    display: flex;
    margin-bottom: 4rem;
    
    font-size: 0.75rem;
    color: var(--info);

    time {
        display: flex;
        align-items: center;
    }

    span{
        display: flex;
        align-items: center;
        margin-left: 1.5rem;
    }

    svg{
        margin-right: 0.5rem;
        width: 0.75rem;
    }
}